.App-header {
    display: flex;
    align-items: center;
    width: 100%;
    border-bottom: 1.8px solid #ff0000;
  }
  
  .App-header .App-logo {
    width: 250px;
    height: 250px;
  }
  
  .App-header h1 {
    color:#ff0000;
    font-weight: bold;
  }
  
  .App-header hr {
    color: #ff0000;
  }