.App-header {
  display: flex;
  align-items: center;
  width: 100%;
  border-bottom: 1.8px solid #c21134;
}

.App-header .App-logo {
  width: 250px;
  height: 250px;
}

.App-header h1 {
  color:#c21134;
  font-weight: bold;
}

.App-header hr {
  color: #c21134;
}

.App-body {
  height: 55vh;
  border-bottom: 2px solid #c21134;
}

.App-body p {
  margin-top: 55px;
  margin-left: 40px;
  font-size: 130%;
  font-weight: 500;
}

.App-footer p {
  text-align: center;
  font-size: 130%;
  font-weight: 500;
}